[submodule "ogp-specifications"]
	path = ogp-specifications
	url = https://github.com/opengrowingalliance/ogp-specifications.git
[submodule "ogp-schemas"]
	path = ogp-schemas
	url = https://github.com/opengrowingalliance/ogp-schemas
[submodule "ogp-core"]
	path = ogp-core
	url = https://github.com/opengrowingalliance/ogp-core
